version: '3.8'

services:

  postgres:
    image: postgres:16

    container_name: postgres_db

    environment:
      - POSTGRES_PASSWORD=postgresdbpassword
      - POSTGRES_USER=user
      - POSTGRES_DB=system-pulse-db

      # Opcional - deixa mais parecido com ambiente de produção
      # - PGDATA=/var/lib/postgresql/data/pgdata

    ports:
      - "5432:5432"

    volumes:
      - postgres-data:/var/lib/postgresql/data

    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

volumes:
  postgres-data:
    name: postgres-data-prod